/* .kar {
    display: flex;
border: 5px dotted red;
background-color: red;
padding: 0px;
margin: 0%;
width: 8%;
height: 100px;
}
.lah{
    display: flex;
    border: 5px solid aqua;
    background-color: aqua;
    margin: 0%;
    width: 8%;
    height: 100px;
    position: absolute;
    top: 8px;
    left: 145px;
}
JAWAD */